{
  "servers": {
    "first": {
      "address": "irc.server.tld",
      "port": 6667,
      "nickname": "gophirc",
      "username": "gophirc",
      "realname": "gophirc",
      "nickserv_password": "my_nick_pass",
      "channels": [
        "#my_chan"
      ],
      "admins": [
        "my_nickname"
      ],
      "ignore": [
        "other_bot"
      ]
    },
    "second": {
      "address": "irc.other.server.tld",
      "port": 6667,
      "nickname": "my_bot"
    },
    "freenode": {
      "address": "irc.freenode.net",
      "port": 6667,
      "nickname": "gophirc_test",
      "username": "gophirc",
      "realname": "gophirc"
    }
  },
  "debug": true
}